---
import * as Client from '../../.stellar/contract-ids/hello_world';
import { Networks } from '@stellar/stellar-sdk';

const contract = new Client.Client({
   networkPassphrase: Networks.TESTNET,
   rpcUrl: 'https://soroban-testnet.stellar.org:443'
});

const { result } = await contract.hello({to: "Devs!"});
const greeting = result.join(" ");
---

<h1>{greeting}</h1>